body{
    text-align: center;
    background-color: darkred;
}

img{
    border: 0px;
}

.container{
    margin: 0 auto;
    width: 600px;
    text-align: left;
    background-color: #8B8B8B;
    padding: 10px;
}

.map{
    width: 276px;
    background-color: black;
}

.controls{
    float: right;
}
.editor{
    float: right;
}

.scoreboard{
    float: right;
    padding-right: 45px;
}
