body{
    text-align: center;
}

img{
    border: 0px;
}

.container{
    margin: 0 auto;
    width: 600px;
    text-align: left;
}

.controls{
    float: right;
}
.editor{
    float: right;
}

.scoreboard{
    float: right;
    padding-right: 45px;
}
